@charset "utf-8";

/**
 * TODO: remove ../ from font paths (were only needed for _ACP path)
 */
 
/* Fonts */
@font-face {
	font-family: 'MuseoSans';
	src: url('../../application/fonts/MuseoSans_500-webfont.eot');
	src: url('../../application/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../application/fonts/MuseoSans_500-webfont.woff') format('woff'),
		url('../../application/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
		url('../../application/fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSlab';
	src: url('../../application/fonts/Museo_Slab_500-webfont.eot');
	src: url('../../application/fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
		url('../../application/fonts/Museo_Slab_500-webfont.woff') format('woff'),
		url('../../application/fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
		url('../../application/fonts/Museo_Slab_500-webfont.svg#Museo_Slab500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'yekta_light';
	src: url('../font/yekta_light.ttf');
	font-weight: normal;
	font-style: normal;
}

/* General */
body {
	font-family:'MuseoSans', yekta_light, Helvetica, Sans-serif;
	color:#393939;
	background-color:#3b3b3b;
	line-height:1.5;
	font-size:14px;
	margin:0px;
	padding:0px;
	background-image:url(../images/bg_tile.gif);
}

a img {
	border:none;
}

table {
	border:none;
}

*:focus {
	outline:none;
}

a {
	text-decoration:none;
}

code {
    background-color: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #afafaf;
    padding: 1px 3px;
    color: #4c4c4c;
    text-shadow: none;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px 7px 0px;
    font-family: 'MuseoSans', yekta_light, Helvetica, Sans-serif;
}

.clear {
	clear:both;
}

.center_1020 {
	width:1020px;
	margin-left:auto;
	margin-right:auto;
}

/* Icon positions */
.dashboard { background-position:0px 0px; }
.users { background-position:16px 0px; }
.hashtag { background-position:32px 0px; }
.heart { background-position:48px 0px; }
.share { background-position:64px 0px; }
.pointer { background-position:80px 0px; }
.list { background-position:96px 0px; }
.tag { background-position:112px 0px; }
.cursor { background-position:128px 0px; }
.file { background-position:144px 0px; }
.database { background-position:160px 0px; }
.link { background-position:176px 0px; }
.windows { background-position:192px 0px; }
.logout { background-position:208px 0px; }
.settings { background-position:224px 0px; }

/* Top bar */
header {
	height:58px;
	background-image:url(../images/top_tile.jpg);
	padding-top:10px;
}

header .logo, footer #logo .logo {
	display:block;
	width:197px;
	height:28px;
	float:right;
	background-image:url(../images/yektacms.png);
	margin-top:13px;
}

header .right .welcome {
	color:#909090;
	font-size: 14px;
	text-shadow:1px 1px 0px #000;
	float:right;
	margin-top:17px;
	margin-right:5px;
}

header .right .welcome b {
	color:#ffffff;
	font-weight:normal;
}

/* Main layout body */
#wrapper {
	background-image:url(../images/upper_bg.png);
	background-repeat:no-repeat;
	background-position:top center;
	margin-left:auto;
	margin-right:auto;
	min-height:336px;
}

#main {
	background-color: #d7d7d7;
	border-radius:3px;
	min-height:200px;
	margin-top: 50px;
}

/* Right column */
#main .right {
	float:left;
	width: 1020px;
	margin-left:1px;
}

#main .right h1 {
	height:35px;
	border-top:2px solid #fff;
	border-bottom:1px solid #999999;
	display:block;
	margin:0px;
	padding:0px;
	padding-top:6px;
	text-align:center;
	width:100%;
	font-weight:normal;
	font-family:MuseoSlab, yekta_light, Helvetica, Sans-serif;
	font-size:20px;
	color:#000;
	text-shadow:1px 1px 0px #fff;
	background-color:#bebebe;
	background-image: linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -o-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -webkit-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -ms-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BEBEBE),
		color-stop(1, #DDDDDD)
	);
	border-top-right-radius:3px;
}

#main .right #content {
	border-top:1px solid #fff;
}

#main .right .statistics {
	background-color:#434343;
	border-radius:3px;
	border:1px solid #fff;
	padding:10px;
	margin:10px;
	box-shadow:0px 1px 3px #000 inset;
	text-align:center;
}

#main .right .statistics span {
	display:block;
	position:absolute;
	font-family:MuseoSlab;
	font-size: 14px;
	color:#000000;
	width:660px;
	padding:5px;
	text-align:right;
	opacity:0.6;
}

#main .right .statistics .image {
	width:667px;
	height:190px;
	padding:5px;
	background-color:#fff;
	box-shadow:0px 1px 3px #000;
}

#main .right .info_box {
	margin:10px;
	margin-bottom:5px;
	border-radius:3px;
	border:1px solid #a4a4a4;
	background-color:#ebebeb;
	box-shadow:0px 1px 0px #fff inset, 0px 1px 1px #999;
}

#main .right h2 img {
	margin-top:3px;
	position:absolute;
	margin-left:-25px;
}

#main .right .info_box aside {
	float:left;
	width:232px;
	border-left:1px solid #ccc;
	min-height:150px;
	color:#393939;
	padding-top:5px;
	text-shadow:1px 1px 0px #fff;
}

#main .right .info_box aside:first-child {
	border-left:none;
}

#main .right .info_box h2 {
	text-align:center;
	padding:0px;
	margin:0px;
	display:block;
	color:#171717;
	font-family:MuseoSlab;
	font-size: 14px;
	margin-top:5px;
	font-weight:normal;
}

#main .right .info_box table {
	font-size:12px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3px;
}

#main .right .info_box td {
	padding:3px;
	text-align:right;
}

#main .right .info_box td:first-child {
	text-align:left;
}

#main .right .side_left {
	float:left;
	width:450px;
	margin:10px;
	margin-right:15px;
}

#main .right .box h2 {
	margin:0px;
	padding:0px;
	text-align:center;
	font-family:yekta_light;
	font-weight:normal;
	color:#171717;
	font-size: 14px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#bebebe;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	box-shadow:0px 1px 0px #fff inset;
	background-image: linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -o-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -webkit-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -ms-linear-gradient(bottom, #BEBEBE 0%, #DDDDDD 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #BEBEBE),
		color-stop(1, #DDDDDD)
	);
	border-bottom:1px solid #a5a5a5;
}

#main .right .big {
	margin:10px;
}

#main .right .box span {
	padding:10px;
	display:block;
}

#main .right .side_left .box ul {
	margin:0px;
	padding:0px;
}

#main .right .side_left .box li {
	list-style:none;
	margin:0px;
	padding:10px;
	padding-left:15px;
}

#main .right .side_left .box li a, #main .right .side_right .box a  {
	color:#1D6D9C;
	text-decoration:none;
}

#main .right .side_left .box li:first-child {
	border-top:1px solid #fff;
}

#main .right .side_left .box li:nth-child(even) {
	background-color:#dfdfdf;
}

#main .right .side_left .box li .button, #main .right .side_right .box .button, input[type="submit"], .nice_button {
	float:right;
	font-size:12px;
	text-decoration:none;
	color:#262626;
	border-radius:3px;
	background-color:#cdcdcd;
	border:1px solid #8e8e8e;
	box-shadow:0px 1px 0px #fff inset, 0px 1px 0px #fff;
	padding:3px 5px;
	margin-top:-3px;
	background-image: linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -o-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -moz-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -webkit-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -ms-linear-gradient(bottom, #CDCDCD 0%, #DCDCDC 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #CDCDCD),
		color-stop(1, #DCDCDC)
	);
	margin-left:10px;
	width:60px;
	text-align:center;
}

.nice_button {
	float:none;
	margin:0px;
	padding:6px 10px;
    cursor: pointer;
}

#main .right .side_left .box li .button:hover, #main .right .side_right .box .button:hover, input[type="submit"]:hover, .nice_button:hover {
	box-shadow:0px 1px 0px #7dc2ea inset, 0px 1px 0px #fff;
	border:1px solid #305e79;
	color:white;
	text-shadow:1px 1px 0px rgba(0,0,0,0.4);
}

#main .right .side_left .box li .button:active, #main .right .side_right .box .button:active, input[type="submit"]:active, .nice_button:active {
	background-image:none;
	box-shadow:0px 1px 0px #fff;
}

#main .right .side_right {
	width:235px;
	margin-top:10px;
	margin-right:10px;
	float:left;
}

#main .right .box {
	border-radius:3px;
	border:1px solid #a4a4a4;
	background-color:#ebebeb;
	box-shadow:0px 1px 0px #fff inset, 0px 1px 1px #999;
	text-shadow:1px 1px 0px #fff;
	margin-bottom:15px;
}

#main .right .side_right .box .button, input[type="submit"] {
	float:none;
	width:60%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
}

#main .right .side_right .box .divider {
	margin-top:10px;
	height:1px;
	background-color:#b9b9b9;
	border-bottom:1px solid #fff;
}

#main .right .side_right .alert {
	border:1px solid red;
	box-shadow:0px 0px 10px red;
}

/* Footer */
footer {
	font-family:'MuseoSlab', yekta_light, Helvetica, Sans-serif;
	background-color:#2d2d2d;
	margin-top:50px;
	border-top:1px solid #494949;
	box-shadow:0px 1px 0px #000 inset, 0px 15px 20px #171717 inset;
	height:100px;
}

footer .center_1020 {
	background-color:rgba(0,0,0,0.1);
	border-left:;
	height:100px;
}

footer aside {
	float:left;
}

footer #logo {
	width:286px;
}

footer .logo {
	margin-top:35px !important;
	float:none;
	margin-left:50px;
}

footer #links {
	width:222px;
	padding-top:20px;
	padding-left:18px;
}

footer #links a {
	width:80px;
	margin-top:5px;
	margin-left:20px;
	float:left;
	margin-right:10px;
	color:#8a8a8a;
	text-decoration:none;
	text-shadow:1px 1px 0px #000;
}

footer #links a:hover {
	color:#499fd1;
}


footer #facebook {
	width:255px;
	text-shadow:1px 1px 0px #000;
}

footer #facebook h1 {
	color:#cccccc;
	font-size:18px;
	font-weight:normal;
	margin:0px;
	padding:0px;
	margin-top:20px;
	text-align:center;
}

footer #facebook #fb_icon {
	float:left;
	background-image:url(../images/yekta.png);
	width:25px;
	height:21px;
	margin-left:47px;
	margin-top:2px;
	margin-right:8px;
}

footer #facebook a {
	color:#499fd1;
	font-size:20px;
	text-decoration:none;
	float:left;
}

footer #facebook a:hover {
	color:#fff;
}

footer #html5 {
	width:229px;
	text-align:center;
	padding-top:18px;
}

footer .divider, footer .divider2 {
	background-image:url(../../images/footer_divider.png);
	height:99px;
	width:2px;
	float:left;
	opacity:0.4;
}

footer .divider2 {
	background-image:url(../images/footer_divider2.png);
}

.introduction h3 {
	font-size: 14px;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-top:10px;
}

.introduction {
	width: 660px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.select-language
{
	overflow: hidden;
}

.sub-language
{
	width: 16.800%;
	position: relative;
	margin-right: 4%;
	float: left;
}

.how_to_box {
    margin: 14px 0px;
}

.how_to_box .title {
    cursor: pointer;
    font-size: 16px;
    background: #4489b2;
    padding: 5px 7px;
    color: white;
    text-shadow: 2px 1px 0px rgba(0,0,0,0.4);
}

.how_to_box .title:hover {
    background: #599ec5;
}

.how_to_box .content {
    padding: 12px;
    background-color: #f8f8f8;
	overflow: hidden;
    display: none;
    line-height: 30px;
}

#realm_field {
	margin-bottom: 20px;
}

#realm_field .realmHeader {
	font-size: 14px;
	background: #4489b2;
	color: white;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
	margin-left: 10px !important;
	margin-right: 10px !important;
	border-radius: 4px;
	padding: 10px;
	margin: 10px 10px 0px 10px !important;
}

#realm_field .realmHeader a {
	cursor: pointer;
}

#realm_field .realmHeader:hover {
    background: #599ec5 !important;
}

#realm_field .realmHeader .realmExtend,
#realm_field .realmHeader .realmDelete {
	vertical-align: -3px;
	cursor: pointer;
}

#realm_field .realmHeader .realmExtend {
	margin-right: 4px;
}

#realm_field .realmHeader .realmDelete {
	float: left;
	margin-top: 2px;
}

.realmAdd {
	text-align: center;
	margin-bottom: 15px;
}

.realmForm form, .realmForm {
	margin: 0px 10px !important;	
}

.realmForm {
	color: #393939 !important;
}

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#fixer {
	overflow:auto;
	padding-bottom: 150px;
}  /* must be same height as the footer */

footer {position: relative;
	margin-top: -100px; /* negative value of footer height */
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

#main .right .box ul {
	margin:0px;
	padding:0px;
}

#main .right .box li {
	list-style:none;
	margin:0px;
	padding:10px;
	padding-left:15px;
	width: 300px;
}

#main .right .box li:hover td img {
	opacity:0.6;
}

#main .right .box td img {
	opacity:0.4;
	margin-top:5px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

#main .right .box td a:hover img {
	opacity:1;
}

#main .right .box li a, #main .right .side_right .box a  {
	color:#1D6D9C;
	text-decoration:none;
}