/* TERMS */
	.archived-news{
	width:773px;
	margin:27px 0 0 0;
	padding:30px 35px 30px 35px
	}	
	
	.terms-of-usage {
		padding: 0 0 10px 0;
		}
		
		.terms-of-usage h1 {
			color: #918979;
			font-family: 'Ropa Sans',sans-serif;
			font-size: 22px;
			letter-spacing: 1px;
			text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6), 0 0 5px rgba(0, 0, 0, 0.2);
			text-transform: uppercase;
			text-align:left;
			margin:0 0 8px 12px;
			padding:10px 0 0 0;
			}
			
		#terms-container { 
			width: 620px;
			clear: both;
		
			border-radius:4px;
			box-shadow:inset 0 0 8px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.05);
			overflow:hidden;
			}
			#terms-container .viewport {
				width: 600px; 
				height: 550px;
				overflow: hidden;
				position: relative;
				float:left;
				
				}
				#terms-container .overview { 
				position: absolute; left: 0; top: 0;
				text-align:left;
				padding:5px;
				color:#6c6c6c;
				}
		
		.terms-shadow {
			width:700px; height:34px;
			background:url(images/misc/terms-shadow.png) repeat-x;
			position:absolute;
			bottom:0px; left:0;
			z-index:1;
			}
			
		#terms-container .scrollbar {
			position: relative; 
			float:left; width:10px;
			left:-2px;
			z-index:2;
			}
			#terms-container .track {
			
				height:100%;
				width:10px;
				position:relative;
				padding:0 1px;
				}
			#terms-container .thumb {
				background: #191816; 
				width:8px;
				border-radius:3px;
				cursor:pointer;
				box-shadow:inset 0 2px 0 #0a0908, inset 0 -2px 0 #0a0908;
				}
			
			#terms-container .disable{ display: none; }
			
			
		.terms-of-usage input.agree {
			background:rgba(0,255,0,.05);
			box-shadow:inset 0 0 0 1px rgba(255,255,255,.03), 0 0 5px rgba(0,0,0,.6);
			color: #918979;
			text-shadow: 0 2px 1px rgba(0,0,0,.4);
			margin:0 0 22px 0;
			}
			.terms-of-usage input.agree:hover {background:rgba(0,255,0,.07);}
			
			.terms-of-usage a.dissagree {
				display:inline-block;
				background:rgba(255,255,153,.03);
				color:#000;
				font-weight:bold;
				padding:9px 9px;
				border-radius:4px;
				box-shadow:inset 0 0 0 1px rgba(255,255,255,.02), 0 0 5px rgba(0,0,0,.5);
				margin:10px 0 22px 6px;
				text-shadow:1px 1px 0 rgba(255,255,255,.02);
				font-family: 'Ropa Sans', sans-serif;
				}
				.terms-of-usage a.dissagree:hover {background:rgba(255,255,153,.04);}
				
				#terms-container .overview {}
					
		
		.terms-of-use {
			padding-top:10px;
			}
			
		.page_form {
direction: rtl !important;
}

.page_form table td:first-child {
width: 25% !important;
padding-right: 20px !important;
padding-left: 0 !important;
}

.page_form label {
margin-right: 0 !important;
margin-left: 15px !important;
}	